@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .h-855 {
    height: 855px;
  }
  .h-768 {
    height: 768px;
  }
  .rounded-b-4xl {
    border-bottom-right-radius: 90% 10%;
    border-bottom-left-radius: 90% 10%;
  }
  .text-10xl {
    font-size: 9.38rem;
    line-height: 1;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  /* background-color: #6b7a99; */
  /* background-color: #f7f8fa; */
}

a {
  color: inherit;
  text-decoration: none;
}
